<div class="alert alert-warning">
    <h5>Anticipación del juego</h5>
    <p>Este artículo contiene información detallada de como completar con éxito el juego, parte de la diversión de un juego es descubrir por uno mismo una estrategia propia que permita superar los retos que se plantean.</p>
    <p>Sin embargo, algunos son difíciles sin una pequeña ayuda que obliga a tener que recomenzarlos. Este artículo contiene información detallada sobre las partes importantes para hacer más fácil el terminar el juego.</p>
</div>
